@import url("https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Albert Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgb(245, 230, 200) 0%,
    rgb(191, 235, 250) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80vw;
  height: 100px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left span {
  font-weight: bolder;
  font-size: 30px;
  position: relative;
  bottom: 4px;
  cursor: pointer;
}

.nav-left ul {
  margin-left: 80px;
  display: flex;
  align-items: center;
}

.nav-left ul li {
  list-style: none;
  margin: 0px 25px;
}

.nav-left ul li a {
  color: black;
  font-size: 21px;
  text-decoration: none;
  font-weight: bold;
}

.nav-left ul li a:hover {
  color: #743030;
}

.nav-right input {
  padding: 4px 6px;
  font-size: 14px;
  margin-right: 10px;
  text-align: left;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 12px;
  width: 140px;
  background: transparent;
}

.nav-right input::placeholder {
  font-weight: 600;
}

.nav-right input:hover {
  outline: #5e7572 solid 2px;
  cursor: pointer;
}

.nav-right .btn {
  padding: 3.5px 0px;
  font-size: 14px;
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
  width: 90px;
  background: transparent;
  cursor: pointer;
}

.nav-right .btn:hover {
  font-weight: bold;
  color: #743030;
  outline: #5e7572 solid 2px;
}

.content {
  align-items: center;
  display: flex;
  height: 350px;
  max-width: 80vw;
  margin: auto;
  margin-top: 30px;
}

.content-left {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.content-left h1 {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 2.4rem;
}

.content-left p {
  font-size: 1.3rem;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  border: 2px solid black;
  border-radius: 50%;
  height: 300px;
}

.socialAccounts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 85vw;
}

.socialAccounts h2 {
  margin-bottom: 15px;
}

.social-links a {
  display: inline-block;
  width: 30px;
  transition: 0.4s;
  position: relative;
  right: 2.2vw;
}

.social-links a i {
  color: black;
}

.social-links a:hover {
  transform: scale(1.5);
}

#footer {
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
}

#footer:hover {
  color: #743030;
}

/* Utility Class */
h1,
h2,
h3 {
  font-family: "Albert Sans", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

hr {
  max-width: 90vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1400px) {
  .content {
    height: 450px;
    max-width: 90vw;
  }
  .socialAccounts {
    position: relative;
    bottom: 50px;
    right: 20px;
    max-width: 90vw;
  }
  .social-links a {
    right: 35px;
  }
}

@media screen and (max-width: 910px) {
  .content {
    height: 500px;
    max-width: 90vw;
  }
  .content-left h1 {
    font-size: 2rem;
  }
  .content-left p {
    font-size: 1.1rem;
  }
  .socialAccounts {
    position: relative;
    bottom: 70px;
    right: 30px;
  }
}

@media screen and (max-width: 750px) {
  body {
    height: 131vh;
  }
  .content {
    flex-direction: column-reverse;
    height: 700px;
    max-width: 100vw;
    justify-content: center;
    margin-top: 0px;
  }

  .content-left {
    margin-top: 50px;
    margin-left: 20px;
  }
  .content-left h1 {
    font-size: 1.7rem;
  }
  .content-left p {
    font-size: 0.9rem;
  }
  .socialAccounts {
    align-items: center;
    left: 40px;
    top: -40px;
    font-size: 0.9rem;
  }
  .social-links a {
    right: 0px;
  }
  #footer {
    bottom: -205px;
  }
}

@media screen and (max-width: 500px) {
  body {
    height: 132vh;
  }
  .content-right img {
    border: 2px solid black;
    border-radius: 50%;
    height: 250px;
  }

  .socialAccounts {
    left: 15px;
    top: -25px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 300px) {
  .content-right img {
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
  }
  .socialAccounts {
    top: 20px;
    left: 10px;
    font-size: 0.7rem;
  }
}
